
@font-face {
    font-family: averta ;
    src: url(Averta-Regular.otf);
}


body{
   font-family: averta ;
   margin: auto;
   line-height: 1.5;

   
}

header{
    z-index: 10;
    position: sticky;
    top: 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 32px 80px;
   
}

nav a{
    text-decoration: none;
    color: black;
    padding: 20px;
   
}

nav a:hover{
    text-decoration: underline;
}

.Description{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.text {
    width: 80%;

}

h1 {
    font-size: 40px;
    margin: 8px 0px;
}
p {
    margin: 8px 0px;
    color: #6b6b6b;
    font-size: 18px;
}

.text button {
    background-color: #2639ED;
    border: none;
    width: 200px;
    height: 65px;
    border-radius: 60px;
    font-size: 20px;
    color: white;
    margin: 16px 0px;
    

}
.text button:hover {
    background-color:#394dff ;
    cursor: pointer;
}


.img {
    position: absolute;
    right: 0;
    top:80px;
}

.OurClients{
    display: flex;
    align-items: top;
    justify-content: space-around;
    margin: 80px;
  
}

.OurClients .text2{
    width: 30%;
}

 .OurClients .img2  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  
} 
.img2 img {
    padding: 20px;

}

.CardsSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px;
}

.text3{
    width: 30%;
    
}

.Cards{
    margin: 20px;
    display: flex;
}


.cards div h2 , .cards div p {
    text-align: center;
}

.card1 , .card2 , .card3 , .card4 {
    height: 370px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
    border-radius: 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 20px;
    
} 

.cards1 {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}
.cards2 {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.cardimg1 , .cardimg2 , .cardimg3 , .cardimg4 {

    padding: 10px;
    border-radius: 20px;

}

.cardimg2 {
    background-color: #FFF2F8;
}

.cardimg1 {
    background-color: #F1F7FF;
}

.cardimg3 {
    background-color: #FFF7E3;
}

.cardimg4 {
    background-color: #DEFFEE;
}

.videosec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px;
}

.text4{
    
    width: 40%;
}

.feedback{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.swiper{
    position: relative;
    display: flex;
    align-items: center;
    width: 900px;
    overflow: hidden;
    margin: 16px;
}

.fbs{
    display: flex;
    transition: transform 0.5s ease;

}

.swiper img {
    height: 300;
    width: 300;
    border-radius: 50%;
    padding: 10px;
    
}

.navigation label:hover{
    cursor: pointer;
}

.fb1 , .fb2 , .fb3 , .fb4 {
    display: flex;
    width: 900px;
}

input[type="radio"] {
    display: none;
}

input#fb2:checked ~ .fbs {
    transform: translateX(-900px);
}

input#fb3:checked ~ .fbs {
    transform: translateX(-1800px);
}

input#fb4:checked ~ .fbs {
    transform: translateX(-2700px);

}








